@import './base.css';

#app {
    padding: 0;
    font-weight: normal;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.JcContainer{
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url('/pexels-eberhard-grossgasteiger-691668.jpg'); /* 替换成你的背景图链接 */
    background-size: cover; /* 背景图铺满整个容器 */
    background-position: center; /* 背景图居中 */
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }

    #app {
        margin: 0 auto;
        font-weight: normal;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 100%;
    }
}
